<template>
  <div
    class="flex items-center justify-center w-screen relative text-oxiblue text-oxi_s lg:text-oxi_l pb-20"
  >
    <div class="mx-auto w-5/6 md:w-4/6">
      <h2
        class="text-center text-oxi_l font-normal"
      >Kontaktieren Sie uns gerne für weitere Service-Anfragen und Angebote</h2>
      <div class="flex justify-evenly text-center">
        <div class="w-1/2">
          <h2 class="font-black text-oxigreen my-0">OXILLENT</h2>
          <h2 class="font-black my-0">Haus</h2>
          <p class="my-0">
            <span class="font-black">Oxana</span> Demidov
          </p>
          <p class="my-0">0176 8696 4469</p>
          <a class="my-0" href="mailto:sauber@oxillent.top">sauber@oxillent.top</a>
        </div>
        <div class="w-1/2">
          <h2 class="font-black text-oxigreen my-0">OXILLENT</h2>
          <h2 class="font-black my-0">Garten</h2>
          <p class="my-0">
            <span class="font-black">Sergej</span> Demidov
          </p>
          <p class="my-0">0179 4260 370</p>
          <a class="my-0" href="mailto:super@oxillent.top">super@oxillent.top</a>
        </div>
      </div>

      <div class="mt-2">
        <div class="items-center flex flex-col text-oxiblue">
          <div class="w-full flex">
            <h2>KONTAKTFORMULAR</h2>
          </div>
          <ValidationObserver
            tag="form"
            action="https://api.staticforms.xyz/submit"
            method="post"
            class="w-full"
            v-slot="{ invalid }"
          >
            <!-- <form action="https://api.staticforms.xyz/submit" method="post" class="w-full"> -->
            <input type="hidden" name="accessKey" value="5d26c43d-8675-4f1b-8a21-9b2e2d246c9c" />
            <!-- Required -->
            <input type="hidden" name="redirectTo" :value="redirectPage" />
            <input type="hidden" name="replyTo" value="@" />
            <input type="text" name="honeypot" style="display: none;" />
            <!-- Optional -->
            <div class="w-full flex-col">
              <label
                class="flex text-oxi_xs lg:text-oxi_s font-normal text-oxiblue dark:text-gray-200"
              >Ihr Name</label>

              <ValidationProvider rules="required" v-slot="{ errors }">
                <input
                  v-model="sender_val"
                  class="flex w-full text-oxiblue text-oxi_s lg:text-oxi_l py-2 bg-white border border-gray-300 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
                  type="text"
                  name="name"
                />
                <span class="text-red-500 text-oxi_xs lg:text-oxi_s">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>

            <div class="w-full mt-6 flex-col">
              <label
                class="flex text-oxi_xs lg:text-oxi_s font-normal text-oxiblue dark:text-gray-200"
              >Ihre Email-Adresse</label>
              <ValidationProvider rules="required|email" v-slot="{ errors }">
                <input
                  v-model="email_val"
                  class="flex w-full text-oxiblue text-oxi_s lg:text-oxi_l py-2 bg-white border border-gray-300 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
                  type="text"
                  name="email"
                />
                <span class="text-red-500 text-oxi_xs lg:text-oxi_s">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>

            <div class="w-full mt-6 flex-col">
              <label
                class="flex text-oxi_xs lg:text-oxi_s font-normal text-oxiblue dark:text-gray-200"
              >Anfrage / Thema</label>

              <ValidationProvider rules="required" v-slot="{ errors }">
                <input
                  v-model="subject_val"
                  class="flex w-full text-oxiblue text-oxi_s lg:text-oxi_l py-2 bg-white border border-gray-300 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
                  type="text"
                  name="subject"
                />
                <span class="text-red-500 text-oxi_xs lg:text-oxi_s">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>

            <div class="w-full mt-6 flex-col">
              <label
                class="block mt-2 text-oxi_xs lg:text-oxi_s font-normal text-oxiblue dark:text-gray-200"
              >Ihre Nachricht</label>

              <!-- <textarea
                class="flex w-full h-40 lg:h-400px text-oxiblue text-oxi_s lg:text-oxi_l py-2 bg-white border border-gray-300 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
                name="message"
              ></textarea>-->
              <ValidationProvider rules="required|min:30" v-slot="{ errors }">
                <textarea
                  v-model="msg_val"
                  class="flex w-full h-40 lg:h-400px text-oxiblue text-oxi_s lg:text-oxi_l py-2 bg-white border border-gray-300 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
                  type="text"
                  name="message"
                />
                <span class="text-red-500 text-oxi_xs lg:text-oxi_s">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>

            <div class="w-full flex-col mt-6">
              <button
                class="h-15 lg:h-70px w-40 lg:w-200px text-oxi_s lg:text-oxi_l text-white font-black transition-colors duration-200 transform bg-oxiblue hover:bg-blue-700 focus:outline-none focus:bg-blue-600"
                :disabled="invalid"
                type="submit"
              >SENDEN</button>
            </div>
            <!-- </form> -->
          </ValidationObserver>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
export default {
  components: {
    ValidationObserver: ValidationObserver,
    ValidationProvider: ValidationProvider
  },
  data() {
    return {
      sender_val: null,
      email_val: null,
      subject_val: null,
      msg_val: null,
      redirectPage: null
    };
  },
  mounted() {
    this.redirectPage = window.location.origin + "/danke"
  },
}
</script>