<template>
  <footer class="w-screen text-oxi_xs md:text-oxi_s lg:text-oxi_l">
    <hr class="text-oxiblue h-2 bg-oxiblue" />
    <div class="flex mx-auto flex-row p-2 pb-12 justify-around w-5/6 md:w-4/6">
      <nuxt-link
        to="impressum"
        class="w-3/6 flex title-font font-medium items-center justify-start"
      >
        <span class="font-black">IMPRESSUM & RECHTLICHES</span>
      </nuxt-link>

      <div class="w-3/6 flex flex-row sm:mt-0 justify-end">
        <a class="flex px-1 md:px-2" href="https://xing.com/oxillent">XING</a>
        <a class="flex px-1 md:px-2" href="https://telegram.org/">TELEGRAM</a>
      </div>
    </div>
  </footer>
</template>