<template>
  <div class="flex py-5 items-center justify-center flex-col w-screen">
    <nuxt-link to="/" class="container mx-auto flex items-center flex-col">
      <img
        class="mb-1 md:mb-5 object-cover object-center rounded max-w-1/2 xl:max-w-none"
        alt="hero"
        src="~/assets/imgs/logo_oxillent_std.png"
      />
    </nuxt-link>
    <hr class="bg-oxiblue w-3/5 max-w-3/5 md:max-w-md lg:max-w-2xl" style="height: 9px" />
  </div>
</template>
