<template>
  <div class="container w-full font-archivo text-oxiblue text-oxi_s md:text-oxi_l">
    <TheHeader />
    <Nuxt />
    <TheFooter />
  </div>
</template>

<script>
export default {
  head() {
    return {
      titleTemplate: 'Oxillent - %s',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Tip Top und super sauber im Haus und Garten.'
        }
      ]
    }
  },
}
</script>

<style>
body {
  margin: 0;
  overflow-x: hidden; /* avoid horizontal scrollbar due to w-screen inside a div*/
}
</style>