<template>
    <div class="w-3/6 h-115 mx-auto text-oxi_m block">
        <div>
            <p>
                <span class="font-bold">Vielen Dank für Ihre Nachricht!</span>
                <br />
                <br />Ihre Nachricht wird bei uns sofort an den richtigen Ansprechpartner weitergeleitet. Wie werden so schnell wie möglich bei Ihnen zurückmeldet.
                <br />
                <br />
                <span class="font-bold">Ihr Oxillent Team.</span>
            </p>
        </div>
    </div>
</template>