<template>
  <div class="w-3/6 mx-auto text-oxi_m block">
    <div class="mb-20">
      <p class="font-bold" style="line-height: 21pt;">IMPRESSUM</p>
      <p>
        <span class="font-bold">Oxillent UG (haftungsbeschränkt)</span>
        <br />Am Mantel 4, 76646 Bruchsal
        <br />E-Mail: info@oxillent.top
        <br />Telefon: +49 (0)176 869 644 69
      </p>
    </div>
    <div class="mb-20">
      <p class="font-bold" style="line-height: 21pt;">Rechtliche Hinweise</p>

      <p>
        <span class="font-bold">Haftungs- und Schutzrecht:</span>
      </p>
      <p>
        Inhalte fremder Webseiten, auf die direkt oder indirekt verwiesen wird, liegen außerhalb unseres Verantwortungsbereiches.
        Für ggf. entstandene Schäden, die aus der Nutzung externer Webseiten und Links entstehen, haftet allein der entsprechende Anbieter.
      </p>
      <p>
        <span class="font-bold">Urheber- und Markenrechte:</span>
      </p>
      <p>
        auf dieser Website dargestellten Inhalte, wie z.B. Grafiken, Fotos, Marken und Warenzeichen sind durch die jeweiligen Schutzrechte geschützt.
        Die Verwendung und/oder Vervielfältigung unterliegenden Rechten der jeweiligen Urheber bzw. Rechteverwalter.
      </p>
    </div>
    <div class="mb-30">
      <p class="font-bold" style="line-height: 21pt;">Datenschutz</p>

      <p>
        <span class="font-bold">Einleitung:</span>
      </p>
      <p>
        Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären, welche Arten Ihrer personenbezogenen Daten (nachfolgend auch kurz als „Daten“ bezeichnet)
        wir zu welchen Zwecken und in welchem Umfang verarbeiten. Die Datenschutzerklärung gilt für alle von uns durchgeführten Verarbeitungen personenbezogener Daten,
        sowohl im Rahmen der Erbringung unserer Leistungen als auch insbesondere auf unseren Webseiten, in mobilen Applikationen sowie innerhalb externer Onlinepräsenzen,
        wie z.B. unserer Social-Media-Profile (nachfolgend zusammenfassend bezeichnet als „Onlineangebot“).
      </p>

      <p>Die verwendeten Begriffe sind nicht geschlechtsspezifisch.</p>
      <p>Stand: 15. Oktober 2021</p>

      <p>
        <br />
        <br />
        <strong>Inhaltsübersicht</strong>
      </p>

      <ul class="index">
        <li>
          <a class="index-link" href="#m14">Einleitung</a>
        </li>
        <li>
          <a class="index-link" href="#m3">Verantwortlicher</a>
        </li>
        <li>
          <a class="index-link" href="#mOverview">Übersicht der Verarbeitungen</a>
        </li>
        <li>
          <a class="index-link" href="#m13">Maßgebliche Rechtsgrundlagen</a>
        </li>
        <li>
          <a class="index-link" href="#m134">Einsatz von Cookies</a>
        </li>
        <li>
          <a class="index-link" href="#m225">Bereitstellung des Onlineangebotes und Webhosting</a>
        </li>
        <li>
          <a class="index-link" href="#m182">Kontaktaufnahme</a>
        </li>
        <li>
          <a
            class="index-link"
            href="#m638"
          >Werbliche Kommunikation via E-Mail, Post, Fax oder Telefon</a>
        </li>
        <li>
          <a class="index-link" href="#m264">Onlinemarketing</a>
        </li>
        <li>
          <a class="index-link" href="#m136">Präsenzen in sozialen Netzwerken (Social Media)</a>
        </li>
        <li>
          <a class="index-link" href="#m328">Plugins und eingebettete Funktionen sowie Inhalte</a>
        </li>
      </ul>
      <br />
      <br />

      <strong id="m3">Verantwortlicher</strong>

      <p></p>

      <p>
        Patrick Seiler, alfa-x design
        <br />Lötzener Str. 6
        <br />76139 Karlsruhe, Deutschland
        <br />E-Mail-Adresse: mail@alfa-x.design
        <br />
      </p>

      <strong id="mOverview">Übersicht der Verarbeitungen</strong>
      <br />

      <p>Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer Verarbeitung zusammen und verweist auf die betroffenen Personen.</p>
      <br />

      <p>
        <strong>Arten der verarbeiteten Daten</strong>
      </p>

      <p></p>

      <ul>
        <li>Bestandsdaten (z.B. Namen, Adressen).</li>
        <li>Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos).</li>
        <li>Kontaktdaten (z.B. E-Mail, Telefonnummern).</li>
        <li>Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).</li>
        <li>Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten).</li>
        <li>Standortdaten (Daten, die den Standort des Endgeräts eines Endnutzers angeben).</li>
      </ul>
      <br />

      <p>
        <strong>Kategorien betroffener Personen</strong>
      </p>

      <ul>
        <li>Interessenten.</li>
        <li>Kommunikationspartner.</li>
        <li>Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
      </ul>
      <br />

      <strong>Zwecke der Verarbeitung</strong>

      <p></p>

      <ul>
        <li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.</li>
        <li>Besuchsaktionsauswertung.</li>
        <li>Direktmarketing (z.B. per E-Mail oder postalisch).</li>
        <li>Interessenbasiertes und verhaltensbezogenes Marketing.</li>
        <li>Kontaktanfragen und Kommunikation.</li>
        <li>Profiling (Erstellen von Nutzerprofilen).</li>
        <li>Remarketing.</li>
        <li>Reichweitenmessung (z.B. Zugriffsstatistiken, Erkennung wiederkehrender Besucher).</li>
        <li>Tracking (z.B. interessens-/verhaltensbezogenes Profiling, Nutzung von Cookies).</li>
        <li>Vertragliche Leistungen und Service.</li>
      </ul>
      <br />
      <br />

      <strong id="m13">Maßgebliche Rechtsgrundlagen</strong>

      <p></p>

      <p>Im Folgenden teilen wir die Rechtsgrundlagen der Datenschutzgrundverordnung (DSGVO), auf deren Basis wir die personenbezogenen Daten verarbeiten, mit. Bitte beachten Sie, dass zusätzlich zu den Regelungen der DSGVO die nationalen Datenschutzvorgaben in Ihrem bzw. unserem Wohn- und Sitzland gelten können. Sollten ferner im Einzelfall speziellere Rechtsgrundlagen maßgeblich sein, teilen wir Ihnen diese in der Datenschutzerklärung mit.</p>

      <ul>
        <li>
          <u>Einwilligung (Art. 6 Abs. 1 S. 1 lit. a DSGVO)</u> &#8211; Die betroffene Person hat ihre Einwilligung in die Verarbeitung der sie betreffenden personenbezogenen Daten für einen spezifischen Zweck oder mehrere bestimmte Zwecke gegeben.
        </li>
        <li>
          <u>Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b. DSGVO)</u> &#8211; Die Verarbeitung ist für die Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, oder zur Durchführung vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der betroffenen Person erfolgen.
        </li>
        <li>
          <u>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO)</u>&#8211; Die Verarbeitung ist zur Wahrung der berechtigten Interessen des Verantwortlichen oder eines Dritten erforderlich, sofern nicht die Interessen oder Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten erfordern, überwiegen.
        </li>
      </ul>
      <br />

      <p></p>

      <p>
        <strong>Nationale Datenschutzregelungen in Deutschland</strong>:
        <br />
        <br />Zusätzlich zu den Datenschutzregelungen der Datenschutz-Grundverordnung gelten nationale Regelungen zum Datenschutz in Deutschland. Hierzu gehört insbesondere das Gesetz zum Schutz vor Missbrauch personenbezogener Daten bei der Datenverarbeitung (Bundesdatenschutzgesetz – BDSG). Das BDSG enthält insbesondere Spezialregelungen zum Recht auf Auskunft, zum Recht auf Löschung, zum Widerspruchsrecht, zur Verarbeitung besonderer Kategorien personenbezogener Daten, zur Verarbeitung für andere Zwecke und zur Übermittlung sowie automatisierten Entscheidungsfindung im Einzelfall einschließlich Profiling. Des Weiteren regelt es die Datenverarbeitung für Zwecke des Beschäftigungsverhältnisses (§ 26 BDSG), insbesondere im Hinblick auf die Begründung, Durchführung oder Beendigung von Beschäftigungsverhältnissen sowie die Einwilligung von Beschäftigten. Ferner können Landesdatenschutzgesetze der einzelnen Bundesländer zur Anwendung gelangen.
      </p>
      <br />

      <p></p>

      <strong id="m134">Einsatz von Cookies</strong>

      <p></p>

      <p>Cookies sind Textdateien, die Daten von besuchten Websites oder Domains enthalten und von einem Browser auf dem Computer des Benutzers gespeichert werden. Ein Cookie dient in erster Linie dazu, die Informationen über einen Benutzer während oder nach seinem Besuch innerhalb eines Onlineangebotes zu speichern. Zu den gespeicherten Angaben können z.B. die Spracheinstellungen auf einer Webseite, der Loginstatus, ein Warenkorb oder die Stelle, an der ein Video geschaut wurde, gehören. Zu dem Begriff der Cookies zählen wir ferner andere Technologien, die die gleichen Funktionen wie Cookies erfüllen (z.B., wenn Angaben der Nutzer anhand pseudonymer Onlinekennzeichnungen gespeichert werden, auch als &#8222;Nutzer-IDs&#8220; bezeichnet)</p>

      <p>
        <em>Die folgenden Cookie-Typen und Funktionen werden unterschieden:</em>
      </p>

      <ul>
        <li>
          <u>Temporäre Cookies (auch: Session- oder Sitzungs-Cookies):</u>&nbsp;Temporäre Cookies werden spätestens gelöscht, nachdem ein Nutzer ein Online-Angebot verlassen und seinen Browser geschlossen hat.
        </li>
        <li>
          <u>Permanente Cookies:&nbsp;</u>Permanente Cookies bleiben auch nach dem Schließen des Browsers gespeichert. So kann beispielsweise der Login-Status gespeichert oder bevorzugte Inhalte direkt angezeigt werden, wenn der Nutzer eine Website erneut besucht. Ebenso können die Interessen von Nutzern, die zur Reichweitenmessung oder zu Marketingzwecken verwendet werden, in einem solchen Cookie gespeichert werden.
        </li>
        <li>
          <u>First-Party-Cookies:</u>&nbsp;First-Party-Cookies werden von uns selbst gesetzt.
        </li>
        <li>
          <u>Third-Party-Cookies (auch: Drittanbieter-Cookies)</u>: Drittanbieter-Cookies werden hauptsächlich von Werbetreibenden (sog. Dritten) verwendet, um Benutzerinformationen zu verarbeiten.
        </li>
        <li>
          <u>Notwendige (auch: essentielle oder unbedingt erforderliche) Cookies:</u> Cookies können zum einen für den Betrieb einer Webseite unbedingt erforderlich sein (z.B. um Logins oder andere Nutzereingaben zu speichern oder aus Gründen der Sicherheit).
        </li>
        <li>
          <u>Statistik-, Marketing- und Personalisierungs-Cookies</u>: Ferner werden Cookies im Regelfall auch im Rahmen der Reichweitenmessung eingesetzt sowie dann, wenn die Interessen eines Nutzers oder sein Verhalten (z.B. Betrachten bestimmter Inhalte, Nutzen von Funktionen etc.) auf einzelnen Webseiten in einem Nutzerprofil gespeichert werden. Solche Profile dienen dazu, den Nutzern z.B. Inhalte anzuzeigen, die ihren potentiellen Interessen entsprechen. Dieses Verfahren wird auch als &#8222;Tracking&#8220;, d.h., Nachverfolgung der potentiellen Interessen der Nutzer bezeichnet. Soweit wir Cookies oder &#8222;Tracking&#8220;-Technologien einsetzen, informieren wir Sie gesondert in unserer Datenschutzerklärung oder im Rahmen der Einholung einer Einwilligung.
        </li>
      </ul>

      <p>
        <i>Hinweise zu Rechtsgrundlagen:</i>
        <br />
        <br />Auf welcher Rechtsgrundlage wir Ihre personenbezogenen Daten mit Hilfe von Cookies verarbeiten, hängt davon ab, ob wir Sie um eine Einwilligung bitten. Falls dies zutrifft und Sie in die Nutzung von Cookies einwilligen, ist die Rechtsgrundlage der Verarbeitung Ihrer Daten die erklärte Einwilligung. Andernfalls werden die mithilfe von Cookies verarbeiteten Daten auf Grundlage unserer berechtigten Interessen (z.B. an einem betriebswirtschaftlichen Betrieb unseres Onlineangebotes und dessen Verbesserung) verarbeitet oder, wenn der Einsatz von Cookies erforderlich ist, um unsere vertraglichen Verpflichtungen zu erfüllen.
      </p>

      <p>
        <i>Speicherdauer:</i>
        <br />
        <br />Sofern wir Ihnen keine expliziten Angaben zur Speicherdauer von permanenten Cookies mitteilen (z. B. im Rahmen eines sog. Cookie-Opt-Ins), gehen Sie bitte davon aus, dass die Speicherdauer bis zu zwei Jahre betragen kann.
      </p>

      <p>
        <i>Allgemeine Hinweise zum Widerruf und Widerspruch (Opt-Out):</i>
        <br />
        <br />Abhängig davon, ob die Verarbeitung auf Grundlage einer Einwilligung oder gesetzlichen Erlaubnis erfolgt, haben Sie jederzeit die Möglichkeit, eine erteilte Einwilligung zu widerrufen oder der Verarbeitung Ihrer Daten durch Cookie-Technologien zu widersprechen (zusammenfassend als &#8222;Opt-Out&#8220; bezeichnet). Sie können Ihren Widerspruch zunächst mittels der Einstellungen Ihres Browsers erklären, z.B., indem Sie die Nutzung von Cookies deaktivieren (wobei hierdurch auch die Funktionsfähigkeit unseres Onlineangebotes eingeschränkt werden kann). Ein Widerspruch gegen den Einsatz von Cookies zu Zwecken des Onlinemarketings kann auch mittels einer Vielzahl von Diensten, vor allem im Fall des Trackings, über die Webseiten
        <a
          href="https://optout.aboutads.info"
          target="_blank"
          rel="noopener noreferrer"
        >https://optout.aboutads.info</a> und
        <a
          href="https://www.youronlinechoices.com/"
          target="_blank"
          rel="noopener noreferrer"
        >https://www.youronlinechoices.com/</a> erklärt werden. Daneben können Sie weitere Widerspruchshinweise im Rahmen der Angaben zu den eingesetzten Dienstleistern und Cookies erhalten.
      </p>

      <p>
        <i>Verarbeitung von Cookie-Daten auf Grundlage einer Einwilligung:</i>
        <br />
        <br />Bevor wir Daten im Rahmen der Nutzung von Cookies verarbeiten oder verarbeiten lassen, bitten wir die Nutzer um eine jederzeit widerrufbare Einwilligung. Bevor die Einwilligung nicht ausgesprochen wurde, werden allenfalls Cookies eingesetzt, die für den Betrieb unseres Onlineangebotes unbedingt erforderlich sind.
      </p>

      <ul class="m-elements">
        <li>
          <u>Verarbeitete Datenarten:</u> Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten), Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).
        </li>
        <li>
          <u>Betroffene Personen:</u> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
        </li>
        <li>
          <u>Rechtsgrundlagen:</u> Einwilligung (Art. 6 Abs. 1 S. 1 lit. a DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).
        </li>
      </ul>
      <br />

      <p></p>

      <strong id="m225">Bereitstellung des Onlineangebotes und Webhosting</strong>

      <p></p>

      <p>Um unser Onlineangebot sicher und effizient bereitstellen zu können, nehmen wir die Leistungen von einem oder mehreren Webhosting-Anbietern in Anspruch, von deren Servern (bzw. von ihnen verwalteten Servern) das Onlineangebot abgerufen werden kann. Zu diesen Zwecken können wir Infrastruktur- und Plattformdienstleistungen, Rechenkapazität, Speicherplatz und Datenbankdienste sowie Sicherheitsleistungen und technische Wartungsleistungen in Anspruch nehmen.</p>

      <p>Zu den im Rahmen der Bereitstellung des Hostingangebotes verarbeiteten Daten können alle die Nutzer unseres Onlineangebotes betreffenden Angaben gehören, die im Rahmen der Nutzung und der Kommunikation anfallen. Hierzu gehören regelmäßig die IP-Adresse, die notwendig ist, um die Inhalte von Onlineangeboten an Browser ausliefern zu können, und alle innerhalb unseres Onlineangebotes oder von Webseiten getätigten Eingaben.</p>

      <p>
        <i>Erhebung von Zugriffsdaten und Logfiles</i>:
        <br />
        <br />Wir selbst (bzw. unser Webhostinganbieter) erheben Daten zu jedem Zugriff auf den Server (sogenannte Serverlogfiles). Zu den Serverlogfiles können die Adresse und Name der abgerufenen Webseiten und Dateien, Datum und Uhrzeit des Abrufs, übertragene Datenmengen, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite) und im Regelfall IP-Adressen und der anfragende Provider gehören.
      </p>

      <p>Die Serverlogfiles können zum einen zu Zwecken der Sicherheit eingesetzt werden, z.B., um eine Überlastung der Server zu vermeiden (insbesondere im Fall von missbräuchlichen Angriffen, sogenannten DDoS-Attacken) und zum anderen, um die Auslastung der Server und ihre Stabilität sicherzustellen.</p>

      <ul class="m-elements">
        <li>
          <u>Verarbeitete Datenarten:</u> Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos), Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten), Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).
        </li>
        <li>
          <u>Betroffene Personen:</u> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
        </li>
        <li>
          <u>Rechtsgrundlagen:</u> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).
        </li>
      </ul>
      <br />

      <strong id="m182">Kontaktaufnahme</strong>

      <p></p>

      <p>Bei der Kontaktaufnahme mit uns (z.B. per Kontaktformular, E-Mail, Telefon oder via soziale Medien) werden die Angaben der anfragenden Personen verarbeitet, soweit dies zur Beantwortung der Kontaktanfragen und etwaiger angefragter Maßnahmen erforderlich ist.</p>

      <p>Die Beantwortung der Kontaktanfragen im Rahmen von vertraglichen oder vorvertraglichen Beziehungen erfolgt zur Erfüllung unserer vertraglichen Pflichten oder zur Beantwortung von (vor)vertraglichen Anfragen und im Übrigen auf Grundlage der berechtigten Interessen an der Beantwortung der Anfragen.</p>

      <ul class="m-elements">
        <li>
          <u>Verarbeitete Datenarten:</u> Bestandsdaten (z.B. Namen, Adressen), Kontaktdaten (z.B. E-Mail, Telefonnummern), Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos).
        </li>
        <li>
          <u>Betroffene Personen:</u> Kommunikationspartner.
        </li>
        <li>
          <u>Zwecke der Verarbeitung:</u> Kontaktanfragen und Kommunikation.
        </li>
        <li>
          <u>Rechtsgrundlagen:</u> Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b. DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).
        </li>
      </ul>
      <br />

      <p></p>

      <strong id="m638">Werbliche Kommunikation via E-Mail, Post, Fax oder Telefon</strong>

      <p></p>

      <p>Wir verarbeiten personenbezogene Daten zu Zwecken der werblichen Kommunikation, die über diverse Kanäle, wie z.B. E-Mail, Telefon, Post oder Fax, entsprechend den gesetzlichen Vorgaben erfolgen kann.</p>

      <p>Die Empfänger haben das Recht, erteilte Einwilligungen jederzeit zu widerrufen oder der werblichen Kommunikation jederzeit zu widersprechen.</p>

      <p>Nach Widerruf bzw. Widerspruch können wir die zum Nachweis der Einwilligung erforderlichen Daten bis zu drei Jahren auf Grundlage unserer berechtigten Interessen speichern, bevor wir sie löschen. Die Verarbeitung dieser Daten wird auf den Zweck einer möglichen Abwehr von Ansprüchen beschränkt. Ein individueller Löschungsantrag ist jederzeit möglich, sofern zugleich das ehemalige Bestehen einer Einwilligung bestätigt wird.</p>

      <ul class="m-elements">
        <li>
          <u>Verarbeitete Datenarten:</u> Bestandsdaten (z.B. Namen, Adressen), Kontaktdaten (z.B. E-Mail, Telefonnummern).
        </li>
        <li>
          <u>Betroffene Personen:</u> Kommunikationspartner.
        </li>
        <li>
          <u>Zwecke der Verarbeitung:</u> Direktmarketing (z.B. per E-Mail oder postalisch).
        </li>
        <li>
          <u>Rechtsgrundlagen:</u> Einwilligung (Art. 6 Abs. 1 S. 1 lit. a DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).
        </li>
      </ul>
      <br />

      <strong id="m264">Onlinemarketing</strong>

      <p></p>

      <p>Wir verarbeiten personenbezogene Daten zu Zwecken des Onlinemarketings, worunter insbesondere die Vermarktung von Werbeflächen oder Darstellung von werbenden und sonstigen Inhalten (zusammenfassend als &#8222;Inhalte&#8220; bezeichnet) anhand potentieller Interessen der Nutzer sowie die Messung ihrer Effektivität fallen kann.</p>

      <p>Zu diesen Zwecken werden sogenannte Nutzerprofile angelegt und in einer Datei (sogenannte &#8222;Cookie&#8220;) gespeichert oder ähnliche Verfahren genutzt, mittels derer die für die Darstellung der vorgenannten Inhalte relevante Angaben zum Nutzer gespeichert werden. Zu diesen Angaben können z.B. betrachtete Inhalte, besuchte Webseiten, genutzte Onlinenetzwerke, aber auch Kommunikationspartner und technische Angaben, wie der verwendete Browser, das verwendete Computersystem sowie Angaben zu Nutzungszeiten gehören. Sofern Nutzer in die Erhebung ihrer Standortdaten eingewilligt haben, können auch diese verarbeitet werden.</p>

      <p>Es werden ebenfalls die IP-Adressen der Nutzer gespeichert. Jedoch nutzen wir zur Verfügung stehende IP-Masking-Verfahren (d.h., Pseudonymisierung durch Kürzung der IP-Adresse) zum Schutz der Nutzer. Generell werden im Rahmen des Onlinemarketingverfahren keine Klardaten der Nutzer (wie z.B. E-Mail-Adressen oder Namen) gespeichert, sondern Pseudonyme. D.h., wir als auch die Anbieter der Onlinemarketingverfahren kennen nicht die tatsächlich Identität der Nutzer, sondern nur die in deren Profilen gespeicherten Angaben.</p>

      <p>Die Angaben in den Profilen werden im Regelfall in den Cookies oder mittels ähnlicher Verfahren gespeichert. Diese Cookies können später generell auch auf anderen Webseiten die dasselbe Onlinemarketingverfahren einsetzen, ausgelesen und zu Zwecken der Darstellung von Inhalten analysiert als auch mit weiteren Daten ergänzt und auf dem Server des Onlinemarketingverfahrensanbieters gespeichert werden.</p>

      <p>Ausnahmsweise können Klardaten den Profilen zugeordnet werden. Das ist der Fall, wenn die Nutzer z.B. Mitglieder eines sozialen Netzwerks sind, dessen Onlinemarketingverfahren wir einsetzen und das Netzwerk die Profile der Nutzer mit den vorgenannten Angaben verbindet. Wir bitten darum, zu beachten, dass Nutzer mit den Anbietern zusätzliche Abreden, z.B. durch Einwilligung im Rahmen der Registrierung, treffen können.</p>

      <p>Wir erhalten grundsätzlich nur Zugang zu zusammengefassten Informationen über den Erfolg unserer Werbeanzeigen. Jedoch können wir im Rahmen sogenannter Konversionsmessungen prüfen, welche unserer Onlinemarketingverfahren zu einer sogenannten Konversion geführt haben, d.h. z.B., zu einem Vertragsschluss mit uns. Die Konversionsmessung wird alleine zur Analyse des Erfolgs unserer Marketingmaßnahmen verwendet.</p>

      <p>Solange nicht anders angegeben, bitten wir Sie davon auszugehen, dass verwendete Cookies für einen Zeitraum von zwei Jahren gespeichert werden.</p>

      <p>
        <i>Hinweise zu Rechtsgrundlagen:</i>
        <br />
        <br />Sofern wir die Nutzer um deren Einwilligung in den Einsatz der Drittanbieter bitten, ist die Rechtsgrundlage der Verarbeitung von Daten die Einwilligung. Ansonsten werden die Daten der Nutzer auf Grundlage unserer berechtigten Interessen (d.h. Interesse an effizienten, wirtschaftlichen und empfängerfreundlichen Leistungen) verarbeitet. In diesem Zusammenhang möchten wir Sie auch auf die Informationen zur Verwendung von Cookies in dieser Datenschutzerklärung hinweisen.
      </p>

      <ul class="m-elements">
        <li>
          <u>Verarbeitete Datenarten:</u> Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten), Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).
        </li>
        <li>
          <u>Betroffene Personen:</u> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten), Interessenten.
        </li>
        <li>
          <u>Zwecke der Verarbeitung:</u> Tracking (z.B. interessens-/verhaltensbezogenes Profiling, Nutzung von Cookies), Remarketing, Besuchsaktionsauswertung, Interessenbasiertes und verhaltensbezogenes Marketing, Profiling (Erstellen von Nutzerprofilen), Reichweitenmessung (z.B. Zugriffsstatistiken, Erkennung wiederkehrender Besucher).
        </li>
        <li>
          <u>Sicherheitsmaßnahmen:</u> IP-Masking (Pseudonymisierung der IP-Adresse).
        </li>
        <li>
          <u>Rechtsgrundlagen:</u> Einwilligung (Art. 6 Abs. 1 S. 1 lit. a DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).
        </li>
        <li>
          <u>Widerspruchsmöglichkeit (Opt-Out):</u> Wir verweisen auf die Datenschutzhinweise der jeweiligen Anbieter und die zu den Anbietern angegebenen Widerspruchsmöglichkeiten (sog. &#8222;Opt-Out&#8220;). Sofern keine explizite Opt-Out-Möglichkeit angegeben wurde, besteht zum einen die Möglichkeit, dass Sie Cookies in den Einstellungen Ihres Browsers abschalten. Hierdurch können jedoch Funktionen unseres Onlineangebotes eingeschränkt werden. Wir empfehlen daher zusätzlich die folgenden Opt-Out-Möglichkeiten, die zusammenfassend auf jeweilige Gebiete gerichtet angeboten werden:
          a) Europa:
          <a
            href="https://www.youronlinechoices.eu"
            target="_blank"
            rel="noopener noreferrer"
          >https://www.youronlinechoices.eu</a>.
          b) Kanada:
          <a
            href="https://www.youradchoices.ca/choices"
            target="_blank"
            rel="noopener noreferrer"
          >https://www.youradchoices.ca/choices</a>.
          c) USA:
          <a
            href="https://www.aboutads.info/choices"
            target="_blank"
            rel="noopener noreferrer"
          >https://www.aboutads.info/choices</a>.
          d) Gebietsübergreifend:
          <a
            href="https://optout.aboutads.info"
            target="_blank"
            rel="noopener noreferrer"
          >https://optout.aboutads.info</a>.
        </li>
      </ul>

      <p>
        <i>Eingesetzte Dienste und Diensteanbieter:</i>
      </p>

      <ul class="m-elements">
        <li>
          <u>Google Analytics:</u>
          <br />Onlinemarketing und Webanalyse; Dienstanbieter: Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland, Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; Website:
          <a
            href="https://marketingplatform.google.com/intl/de/about/analytics/"
            target="_blank"
            rel="noopener noreferrer"
          >https://marketingplatform.google.com/intl/de/about/analytics/</a>; Datenschutzerklärung:
          <a
            href="https://policies.google.com/privacy"
            target="_blank"
            rel="noopener noreferrer"
          >https://policies.google.com/privacy</a>; Widerspruchsmöglichkeit (Opt-Out): Opt-Out-Plugin:
          <a
            href="https://tools.google.com/dlpage/gaoptout?hl=de"
            target="_blank"
            rel="noopener noreferrer"
          >https://tools.google.com/dlpage/gaoptout?hl=de</a>, Einstellungen für die Darstellung von Werbeeinblendungen:
          <a
            href="https://adssettings.google.com/authenticated"
            target="_blank"
            rel="noopener noreferrer"
          >https://adssettings.google.com/authenticated</a>.
        </li>
        <li>
          <u>Google Ads und Konversionsmessung:</u>
          <br />Wir nutzen das Onlinemarketingverfahren &#8222;Google Ads&#8220;, um Anzeigen im Google-Werbe-Netzwerk zu platzieren (z.B., in Suchergebnissen, in Videos, auf Webseiten, etc.), damit sie Nutzern angezeigt werden, die ein mutmaßliches Interesse an den Anzeigen haben. Ferner messen wir die Konversion der Anzeigen. Wir erfahren jedoch nur die anonyme Gesamtanzahl der Nutzer, die auf unsere Anzeige geklickt haben und zu einer mit einem sog &#8222;Conversion-Tracking-Tag&#8220; versehenen Seite weitergeleitet wurden. Wir selbst erhalten jedoch keine Informationen, mit denen sich Nutzer identifizieren lassen. Dienstanbieter: Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Ireland, parent company: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; Website:
          <a
            href="https://marketingplatform.google.com"
            target="_blank"
            rel="noopener noreferrer"
          >https://marketingplatform.google.com</a>; Datenschutzerklärung:
          <a
            href="https://policies.google.com/privacy"
            target="_blank"
            rel="noopener noreferrer"
          >https://policies.google.com/privacy</a>.
        </li>
      </ul>
      <br />

      <p></p>

      <strong id="m136">Präsenzen in sozialen Netzwerken (Social Media)</strong>

      <p></p>

      <p>Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und verarbeiten in diesem Rahmen Daten der Nutzer, um mit den dort aktiven Nutzern zu kommunizieren oder um Informationen über uns anzubieten.</p>

      <p>Wir weisen darauf hin, dass dabei Daten der Nutzer außerhalb des Raumes der Europäischen Union verarbeitet werden können. Hierdurch können sich für die Nutzer Risiken ergeben, weil so z.B. die Durchsetzung der Rechte der Nutzer erschwert werden könnte.</p>

      <p>Ferner werden die Daten der Nutzer innerhalb sozialer Netzwerke im Regelfall für Marktforschungs- und Werbezwecke verarbeitet. So können z.B. anhand des Nutzungsverhaltens und sich daraus ergebender Interessen der Nutzer Nutzungsprofile erstellt werden. Die Nutzungsprofile können wiederum verwendet werden, um z.B. Werbeanzeigen innerhalb und außerhalb der Netzwerke zu schalten, die mutmaßlich den Interessen der Nutzer entsprechen. Zu diesen Zwecken werden im Regelfall Cookies auf den Rechnern der Nutzer gespeichert, in denen das Nutzungsverhalten und die Interessen der Nutzer gespeichert werden. Ferner können in den Nutzungsprofilen auch Daten unabhängig der von den Nutzern verwendeten Geräte gespeichert werden (insbesondere, wenn die Nutzer Mitglieder der jeweiligen Plattformen sind und bei diesen eingeloggt sind).</p>

      <p>Für eine detaillierte Darstellung der jeweiligen Verarbeitungsformen und der Widerspruchsmöglichkeiten (Opt-Out) verweisen wir auf die Datenschutzerklärungen und Angaben der Betreiber der jeweiligen Netzwerke.</p>

      <p>Auch im Fall von Auskunftsanfragen und der Geltendmachung von Betroffenenrechten weisen wir darauf hin, dass diese am effektivsten bei den Anbietern geltend gemacht werden können. Nur die Anbieter haben jeweils Zugriff auf die Daten der Nutzer und können direkt entsprechende Maßnahmen ergreifen und Auskünfte geben. Sollten Sie dennoch Hilfe benötigen, dann können Sie sich an uns wenden.</p>

      <p>
        <i>Eingesetzte Dienste und Diensteanbieter:</i>
      </p>

      <ul class="m-elements">
        <li>
          <u>Facebook:</u>
          <br />Soziales Netzwerk; Dienstanbieter: Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland, Mutterunternehmen: Facebook, 1 Hacker Way, Menlo Park, CA 94025, USA; Website:
          <a
            href="https://www.facebook.com"
            target="_blank"
            rel="noopener noreferrer"
          >https://www.facebook.com</a>; Datenschutzerklärung:
          <a
            href="https://www.facebook.com/about/privacy"
            target="_blank"
            rel="noopener noreferrer"
          >https://www.facebook.com/about/privacy</a>; Widerspruchsmöglichkeit (Opt-Out): Einstellungen für Werbeanzeigen:
          <a
            href="https://www.facebook.com/settings?tab=ads"
            target="_blank"
            rel="noopener noreferrer"
          >https://www.facebook.com/settings?tab=ads</a>.
        </li>
        <li>
          <u>Twitter:</u>
          <br />Soziales Netzwerk; Dienstanbieter: Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA; Datenschutzerklärung:
          <a
            href="https://twitter.com/de/privacy"
            target="_blank"
            rel="noopener noreferrer"
          >https://twitter.com/de/privacy</a>, (Einstellungen)
          <a
            href="https://twitter.com/personalization"
            target="_blank"
            rel="noopener noreferrer"
          >https://twitter.com/personalization</a>.
        </li>
        <li>
          <u>YouTube:</u>
          <br />Soziales Netzwerk; Dienstanbieter: Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland, Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; Datenschutzerklärung:
          <a
            href="https://policies.google.com/privacy"
            target="_blank"
            rel="noopener noreferrer"
          >https://policies.google.com/privacy</a>; Widerspruchsmöglichkeit (Opt-Out):
          <a
            href="https://adssettings.google.com/authenticated"
            target="_blank"
            rel="noopener noreferrer"
          >https://adssettings.google.com/authenticated</a>.
        </li>
        <li>
          <u>Xing:</u>
          <br />Soziales Netzwerk; Dienstanbieter: XING AG, Dammtorstraße 29-32, 20354 Hamburg, Deutschland; Website:
          <a
            href="https://www.xing.de"
            target="_blank"
            rel="noopener noreferrer"
          >https://www.xing.de</a>; Datenschutzerklärung:
          <a
            href="https://privacy.xing.com/de/datenschutzerklaerung"
            target="_blank"
            rel="noopener noreferrer"
          >https://privacy.xing.com/de/datenschutzerklaerung</a>.
        </li>
      </ul>
      <br />

      <strong id="m328">Plugins und eingebettete Funktionen sowie Inhalte</strong>

      <p></p>

      <p>Wir binden in unser Onlineangebot Funktions- und Inhaltselemente ein, die von den Servern ihrer jeweiligen Anbieter (nachfolgend bezeichnet als &#8222;Drittanbieter”) bezogen werden. Dabei kann es sich zum Beispiel um Grafiken, Videos oder Social-Media-Schaltflächen sowie Beiträge handeln (nachfolgend einheitlich bezeichnet als &#8222;Inhalte”).</p>

      <p>Die Einbindung setzt immer voraus, dass die Drittanbieter dieser Inhalte die IP-Adresse der Nutzer verarbeiten, da sie ohne die IP-Adresse die Inhalte nicht an deren Browser senden könnten. Die IP-Adresse ist damit für die Darstellung dieser Inhalte oder Funktionen erforderlich. Wir bemühen uns, nur solche Inhalte zu verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Drittanbieter können ferner sogenannte Pixel-Tags (unsichtbare Grafiken, auch als &#8222;Web Beacons&#8220; bezeichnet) für statistische oder Marketingzwecke verwenden. Durch die &#8222;Pixel-Tags&#8220; können Informationen, wie der Besucherverkehr auf den Seiten dieser Webseite, ausgewertet werden. Die pseudonymen Informationen können ferner in Cookies auf dem Gerät der Nutzer gespeichert werden und unter anderem technische Informationen zum Browser und zum Betriebssystem, zu verweisenden Webseiten, zur Besuchszeit sowie weitere Angaben zur Nutzung unseres Onlineangebotes enthalten als auch mit solchen Informationen aus anderen Quellen verbunden werden.</p>

      <p>
        <i>Hinweise zu Rechtsgrundlagen:</i>
        <br />
        <br />Sofern wir die Nutzer um deren Einwilligung in den Einsatz der Drittanbieter bitten, ist die Rechtsgrundlage der Verarbeitung von Daten die Einwilligung. Ansonsten werden die Daten der Nutzer auf Grundlage unserer berechtigten Interessen (d.h. Interesse an effizienten, wirtschaftlichen und empfängerfreundlichen Leistungen) verarbeitet. In diesem Zusammenhang möchten wir Sie auch auf die Informationen zur Verwendung von Cookies in dieser Datenschutzerklärung hinweisen.
      </p>

      <ul class="m-elements">
        <li>
          <u>Verarbeitete Datenarten:</u> Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten), Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen), Standortdaten (Daten, die den Standort des Endgeräts eines Endnutzers angeben).
        </li>
        <li>
          <u>Betroffene Personen:</u> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
        </li>
        <li>
          <u>Zwecke der Verarbeitung:</u> Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit, Vertragliche Leistungen und Service.
        </li>
        <li>
          <u>Rechtsgrundlagen:</u> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).
        </li>
      </ul>

      <p>
        <br />
        <i>Eingesetzte Dienste und Diensteanbieter:</i>
      </p>

      <ul class="m-elements">
        <li>
          <u>Google Fonts:</u> Wir binden die Schriftarten (&#8222;Google Fonts&#8220;) des Anbieters Google ein, wobei die Daten der Nutzer allein zu Zwecken der Darstellung der Schriftarten im Browser der Nutzer verwendet werden. Die Einbindung erfolgt auf Grundlage unserer berechtigten Interessen an einer technisch sicheren, wartungsfreien und effizienten Nutzung von Schriftarten, deren einheitlicher Darstellung sowie unter Berücksichtigung möglicher lizenzrechtlicher Restriktionen für deren Einbindung. Dienstanbieter: Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland, Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; Website:
          <a
            href="https://fonts.google.com/"
            target="_blank"
            rel="noopener noreferrer"
          >https://fonts.google.com/</a>; Datenschutzerklärung:
          <a
            href="https://policies.google.com/privacy"
            target="_blank"
            rel="noopener noreferrer"
          >https://policies.google.com/privacy</a>.
        </li>
      </ul>
      <br />

      <strong>Quelle:</strong>
      <p class="seal">
        <a
          href="https://datenschutz-generator.de/?l=de"
          title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
          target="_blank"
          rel="noopener noreferrer nofollow"
        >Dr. Thomas Schwenke | Datenschutz-Generator.de</a>
        <br />
        <br />
      </p>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  head() {
    return {
      title: 'Impressum',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Impressum von Oxillent'
        }
      ]
    }
  }
}
</script>