<template>
  <div class="w-full text-oxi_l lg:text-oxi_lg">
    <div class="text-center w-screen relative">
      <p class="text-oxi_s lg:text-oxi_l font-bold leading-4 lg:leading-7 mb-4 mt-0">
        tiptop und
        <br />supersauber in
      </p>
      <h1
        class="text-oxi_l md:text-oxi_lg font-black text-oxigreen m-0 md:-m-4 leading-1 md:leading-8"
      >HAUS &</h1>
      <h1
        class="text-oxi_l md:text-oxi_lg font-black text-oxiblue m-0 md:m-4 leading-8 md:leading-8 mg-5 lg:mb-10"
      >GARTEN</h1>
    </div>

    <div class="bg-oxiblue body-font text-oxigreen py-6 md:py-24 w-screen relative">
      <div class="container mx-auto flex items-center flex-col">
        <img
          class="mb-5 2xl:mb-10 object-cover object-center rounded w-1/2 2xl:w-none"
          alt="hero"
          src="~/assets/imgs/HAUSsauber.png"
        />
        <div
          class="container flex-col mx-auto justify-center text-oxi_s md:text-oxi_l 2xl:text-oxi_lg w-full lg:w-2/3 -ml-1 sm:ml-0 pl-0 sm:pl-30 md:pl-40 lg:pl-50 xl:pl-80 2xl:pl-100"
        >
          <div class="flex flex-row py-0 pl-10">
            <img src="~/assets/imgs/icontropfen.png" class="h-6 md:h-8 2xl:h-14 lg:pt-2 2xl:pt-3 pr-2" />
            <p class="font-black my-1">Büro</p>
            <p class="my-1">reinigung</p>
          </div>
          <div class="flex flex-row py-0 pl-15">
            <img src="~/assets/imgs/icontropfen.png" class="h-6 md:h-8 2xl:h-14 lg:pt-2 2xl:pt-3 pr-2" />
            <p class="font-black my-1">Praxis</p>
            <p class="my-1">reinigung</p>
          </div>
          <div class="flex flex-row py-0 pl-20">
            <img src="~/assets/imgs/icontropfen.png" class="h-6 md:h-8 2xl:h-14 lg:pt-2 2xl:pt-3 pr-2" />
            <p class="font-black my-1">Glas</p>
            <p class="my-1">reinigung</p>
          </div>
          <div class="flex flex-row py-0 pl-25">
            <img src="~/assets/imgs/icontropfen.png" class="h-6 md:h-8 2xl:h-14 lg:pt-2 2xl:pt-3 pr-2" />
            <p class="font-black my-1">Treppenhaus</p>
            <p class="my-1">reinigung</p>
          </div>
          <div class="flex flex-row py-0 pl-30">
            <img src="~/assets/imgs/icontropfen.png" class="h-6 md:h-8 2xl:h-14 lg:pt-2 2xl:pt-3 pr-2" />
            <p class="font-black my-1">Baustellen</p>
            <p class="my-1">reinigung</p>
          </div>
          <div class="flex flex-row py-0 pl-35">
            <img src="~/assets/imgs/icontropfen.png" class="h-6 md:h-8 2xl:h-14 lg:pt-2 2xl:pt-3 pr-2" />
            <p class="font-black my-1">Desinfektions</p>
            <p class="my-1">reinigung</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-oxigreen body-font text-oxiblue py-6 md:py-24 w-screen relative">
      <div class="container mx-auto flex items-center flex-col">
        <img
          class="mb-5 2xl:mb-10 object-cover object-center rounded w-1/2 2xl:w-none"
          alt="hero"
          src="~/assets/imgs/GARTENsuper.png"
        />
        <div
          class="container flex-col mx-auto justify-center text-oxi_s md:text-oxi_l 2xl:text-oxi_lg w-full lg:w-2/3 -ml-2 sm:ml-0 pl-0 sm:pl-30 md:pl-40 lg:pl-50 xl:pl-80 2xl:pl-100"
        >
          <div class="flex fled-row py-0 pl-10">
            <img src="~/assets/imgs/iconblaetter.png" class="h-6 md:h-8 2xl:h-14 lg:pt-2 pr-2" />
            <p class="font-black my-1">Hausmeister</p>
            <p class="my-1">service</p>
          </div>
          <div class="flex fled-row py-0 pl-15">
            <img src="~/assets/imgs/iconblaetter.png" class="h-6 md:h-8 2xl:h-14 lg:pt-2 pr-2" />
            <p class="font-black my-1">Garten</p>
            <p class="my-1">pflege</p>
          </div>
          <div class="flex fled-row py-0 pl-20">
            <img src="~/assets/imgs/iconblaetter.png" class="h-6 md:h-8 2xl:h-14 lg:pt-2 pr-2" />
            <p class="font-black my-1">Rasen</p>
            <p class="my-1">mähen</p>
          </div>
          <div class="flex fled-row py-0 pl-25">
            <img src="~/assets/imgs/iconblaetter.png" class="h-6 md:h-8 2xl:h-14 lg:pt-2 pr-2" />
            <p class="font-black my-1">Außenanlagen</p>
            <p class="my-1">pflege</p>
          </div>
          <div class="flex fled-row py-0 pl-30">
            <img src="~/assets/imgs/iconblaetter.png" class="h-6 md:h-8 2xl:h-14 lg:pt-2 pr-2" />
            <p class="font-black my-1">Hecken</p>
            <p class="my-1">schneiden</p>
          </div>
          <div class="flex fled-row py-0 pl-35">
            <img src="~/assets/imgs/iconblaetter.png" class="h-6 md:h-8 2xl:h-14 lg:pt-2 pr-2" />
            <p class="font-black my-1">Wege&Flächen</p>
            <p class="my-1">reinigung</p>
          </div>
        </div>
      </div>
    </div>
    <Form />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  head() {
    return {
      title: 'Tiptop und super sauber in Haus und Garten - Reinigungsservice',
    }
  }
})
</script>

<style>
</style>
